:root {
  --hp-light-blue: #0d9bd5;
  --hp-navy: #0c3258;
  --hp-green: #23d58c;
  --hp-white: #fff;
  --hp-off-white: #f6f6f6;
  --hp-coolgray: #d7e2e6;
  --hp-gold: #f7aa00;
  --hp-yellow: #ffc852;
  --hp-hot-orange: #ff7741;
  --hp-purple: #6a52ce;
  --hp-turquoise: #18b8b1;
  --hp-indigo: #062742;
  --hp-dark-gray: #595959;
  --hp-medium-gray: #b8b8b8;
  --hp-legal-navy: #4e7d90;
  --hp-cold-black: #001c2c;
  --sidebar-width: 260px;
  --topbar-height: 80px;
  --base-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  --hover-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  --sky900: #0a2029;
  --sky800: #144052;
  --sky700: #1e607b;
  --sky600: #2880a4;
  --sky500: #33a1ce;
  --sky400: #5bb3d7;
  --sky300: #84c6e1;
  --sky200: #add9eb;
  --sky100: #d6ecf5;
  --sky50: #eaf6fa;
  --grass900: #0d261c;
  --grass800: #1a4c38;
  --grass700: #267353;
  --grass600: #33996f;
  --grass500: #40bf8b;
  --grass400: #66cca2;
  --grass300: #8cd9b9;
  --grass200: #b3e5d1;
  --grass100: #d9f2e8;
  --grass50: #ecf9f3;
  --turquoise900: #0e2524;
  --turquoise800: #1c4a48;
  --turquoise700: #2a6f6c;
  --turquoise600: #389490;
  --turquoise500: #46b7b2;
  --turquoise400: #6bc7c3;
  --turquoise300: #90d5d2;
  --turquoise200: #b5e3e1;
  --turquoise100: #daf1f0;
  --turquoise50: #edf8f7;
  --eggplant900: #210f24;
  --eggplant800: #421e48;
  --eggplant700: #632c6d;
  --eggplant600: #843b91;
  --eggplant500: #a54ab5;
  --eggplant400: #b76ec4;
  --eggplant300: #c992d3;
  --eggplant200: #dbb7e1;
  --eggplant100: #eddbf0;
  --eggplant50: #f6edf8;
  --plum900: #180d26;
  --plum800: #301a4c;
  --plum700: #482871;
  --plum600: #603597;
  --plum500: #7842bd;
  --plum400: #9368ca;
  --plum300: #ae8ed7;
  --plum200: #c9b3e5;
  --plum100: #e4d9f2;
  --plum50: #f2ecf8;
  --lemon900: #332300;
  --lemon800: #664600;
  --lemon700: #996a00;
  --lemon600: #cc8d00;
  --lemon500: #ffb000;
  --lemon400: #ffc033;
  --lemon300: #ffd066;
  --lemon200: #ffdf99;
  --lemon100: #ffefcc;
  --lemon50: #fff7e5;
  --orange900: #2e1605;
  --orange800: #5b2d0b;
  --orange700: #894310;
  --orange600: #b65916;
  --orange500: #e4711e;
  --orange400: #e98c49;
  --orange300: #efa976;
  --orange200: #f4c6a4;
  --orange100: #fae2d1;
  --orange50: #fcf1e8;
  --berry900: #270c15;
  --berry800: #4d192a;
  --berry700: #74253f;
  --berry600: #9b3155;
  --berry500: #c23f6b;
  --berry400: #ce6488;
  --berry300: #da8ba5;
  --berry200: #e6b2c3;
  --berry100: #f3d8e1;
  --berry50: #f9ecf0;
  --coolgray900: #141c1f;
  --coolgray800: #27383f;
  --coolgray700: #3b545e;
  --coolgray600: #4e707e;
  --coolgray500: #628c9d;
  --coolgray400: #81a3b1;
  --coolgray300: #a1bac4;
  --coolgray200: #c0d1d8;
  --coolgray100: #e0e8eb;
  --coolgray50: #eff4f5;
  --neutralgray900: #1a1a1a;
  --neutralgray800: #333333;
  --neutralgray700: #4d4d4d;
  --neutralgray600: #666666;
  --neutralgray500: #808080;
  --neutralgray400: #999999;
  --neutralgray300: #b3b3b3;
  --neutralgray200: #cccccc;
  --neutralgray100: #e6e6e6;
  --neutralgray50: #f2f2f2;
}
